body
{
background-color: black;
}



a#zero
{
	color: blue;
}

a#first
{
	color: red;
}

a#second
{
	color: blue;
}

a#third
{
	color: blue;
}

a#fourth
{
	color: red;
}

a#fifth
{
	color: red;
}
